header {
    height: 100vh;
    padding-top: 1rem;
    overflow: hidden;
  }
  .header_container {
    text-align: center;
    height: 100%;
    position: relative;
  }
  #text h1,
  h5 {
    color: var(--color-primary);
    margin-top: 20px;
  }
  h5{
    font-size: 24px;
  }

   /* ========== Resume ========== */

   .cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
  }

  /* ========== Header Social ========== */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 10rem;
  }
  .header_socials::after {
    content: "";
    width: 2px;
    height: 3rem;
    background: var(--color-primary);
  }

  @media screen and (max-width: 1024px) {
    header {
      height: 68vh;
    }
  }
  
  @media screen and (max-width: 600px) {
    header {
      height: 100vh;
    }
    .header_socials,
    .scroll_down {
      display: none;
    }
  }